{% extends 'base.html.twig' %}

{% block title %}Youflix{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="row">
        <p>
            Youflix est une plateforme web où les visiteurs peuvent se connecter, s'inscrire et gérer leur contenu,
            ainsi que leur profil qu'ils sont (presque) les seuls à voir.
            Le site peut être géré par un administrateur qui à accès à tout les utilisateurs de Youflix ainsi que leurs
            vidéos.
        </p>
    </div>

</div>
{% endblock %}
